# Emlo
core/database_access.php
emlo-edit-php/interface/core/
docker-postgres/database-dump/pg_dumpall.out.gz

docker-compose.php.env
emlo-edit-php/interface/proform/lib/config.php
emlo-edit-php/interface/proformdev/lib/config.php

nginx/ssl/ssl.crt
nginx/ssl/ssl.key

backup-script

# EMLO Auto Exporter
emlo-edit-php-helper/exporter/config.py
emlo-edit-php-helper/exporter/exporter_data/*.*.json
emlo-edit-php-helper/exporter/auto_*.*
emlo-edit-php-helper/exporter/exports

# EMLO Tweaker
emlo-edit-php-helper/tweaker/config.py
emlo-edit-php-helper/tweaker/resources
emlo-edit-php-helper/tweaker/**/*.csv
emlo-edit-php-helper/tweaker/**/*.xlsx
emlo-edit-php-helper/tweaker/**/*.ods


# Others
*/.directory
/.idea/
volumes/*
docker-uploader/uploader/logs
docker-uploader/uploader/*.pyc