# Emlo
core/database_access.php
emlo-edit-php/interface/core/
docker-postgres/database-dump/pg_dumpall.out.gz

docker-compose.php.env
emlo-edit-php/interface/proform/lib/config.php
emlo-edit-php/interface/proformdev/lib/config.php

nginx/ssl/ssl.crt
nginx/ssl/ssl.key

backup-script

# EMLO Auto Exporter
docker-exporter/exporter/config.py
docker-exporter/exporter/exporter_data/*.*.json
docker-exporter/exporter/auto_*.*

# EMLO Tweaker
docker-exporter/tweaker/config.py
docker-exporter/tweaker/resources
docker-exporter/tweaker/*.csv
docker-exporter/tweaker/*.xlsx
docker-exporter/tweaker/*.ods


# Others
*/.directory
/.idea/
volumes/*